.git
.gitignore
venv
.env
.env.*
!.env.example
__pycache__
*.py[cod]
*.db
*.db-wal
*.db-shm
data/media/*
!data/media/.gitkeep
data/db_media/*
!data/db_media/.gitkeep
.DS_Store
*.md
Dockerfile
docker-compose.yml
.dockerignore
data/tmp/*
!data/tmp/.gitkeep
